<ion-modal-view>

    <ion-pane>
        <ion-header-bar>
            <h1 class="title">Settings</h1>
            <div class="buttons">
                <button class="button button-assertive" ng-click="hide()">Close</button>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <a class="item item-icon-left" href="#" ng-click="showClearCacheConfirm()">
                    <i class="icon ion-trash-a"></i>
                    Clear Cache
                </a>
            </div>
        </ion-content>
    </ion-pane>
</ion-modal-view>