/* crop css start */
/* line 1, ../../source/scss/ng-img-crop.scss */
img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 7, ../../source/scss/ng-img-crop.scss */
img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}
/* crop css end */
.pane
{
	background: #f8f5f5 none repeat scroll 0 0;

	
}
  
.menu-left {
    background: #25242c none repeat scroll 0 0;
}
.left-hading-box {
    padding-bottom: 16px;
    text-align: center;
}
.left-hading-box button {
    font-size: 26px;
    left: 0;
    padding: 0 10px;
    position: absolute;
}
/* 
.left-hading-box img {
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
} */
.user-ac-login, .user-ac-login.activated {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 0 19px;
}
.user-ac-pic {
    background: #e0e0e0 none repeat scroll 0 0;
    border-radius: 42px;
    display: inline-block;
    height: 80px;
    margin: 23px 0 10px;
    position: relative;
    width: 80px;
	overflow:hidden;
}
.user-ac-pic img {
    width: 100%;
}
.left-bar-list
{
	
	
}
.left-bar-list > .list {
    padding: 12px 0;
}
.left-bar-list > .list > .item {
    background: transparent none repeat scroll 0 0;
    border: medium none;
}
.left-bar-list > .list > .item a {
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid #323440;
    border-left: 3px solid transparent;
    color: #b7b7b7;
    padding: 12px 22px;
    text-transform: capitalize;
	position: relative;
}
.left-bar-list > .list > .item.active a {
    background: #323440 none repeat scroll 0 0;
    border-left: 3px solid #ef473a;
}
.left-bar-list > .list > .item:first-child a{
	border-top: 1px solid #323440;
}
.left-bar-list > .list > .item a i {
    color: #9c9c9c;
    font-size: 13px;
    padding-top: 1px;
    position: absolute;
    right: 15px;
}
.index-slide {
    width: 100%;
}
.index-slide img
{
	 width: 100%;
}
.index-slider-main {
    background: #ececec none repeat scroll 0 0;
    margin-bottom: 9px;
}
.slider-pager span
{
	width:9px !important;
	
} 
.slider-pager span i
{
	font-size:11px;
}

.pro-list .list {
    float: left;
    padding: 6px;
    width: 100%;
}
.pro-list .list .item {
    box-shadow: 0 1px 2px #dfdfdf;
    float: left;
    margin: 1.4%;
    padding: 7px;
    width: 47.2%;
}

.pro-list .list .item img {
    padding: 2px;
    width: 100%;
}
.pro-list .list .item h3 {
    color: #000;
    font-size: 15px;
    text-transform: capitalize;
}
.pro-list .list .item p {
    color: #757575;
    font-size: 12px;
	float: left;
	width:100%;
}
.pro-list .list .item i {
    color: #ef473a;
    position: absolute;
    right: 14px;
    top: 8px;
}
.pro-list .list .item p span {
    color: #ef473a;
    position: absolute;
    right: 10px;
}
.pro-list-product .list .item {
    margin: 1.5%;
}
.pro-list-product .list .item img {
    padding: 2px;
    width: 100%;
}
.pro-list-product .list .item h3 {
    color: #000;
    font-size: 15px;
    text-transform: capitalize;
}
.pro-list-product .list .item p {
    color: #757575;
    font-size: 12px;
    float: left;
    width:100%;
}
.pro-list-product .list .item i {
    color: #ef473a;
    position: absolute;
    right: 14px;
    top: 8px;
}
.pro-list-product .list .item p span {
    color: #ef473a;
    float: right;
    margin-top: -20px;
}
.item.heading {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    padding: 4px 10px;
}
.item.heading.h2 {
    font-family: arial;
    font-size: 18px;
    margin:10px 0 0;
    text-transform: capitalize;
}
.item.heading.h2 button {
    font-size: 12px;
    line-height: inherit;
    min-height: 24px;
    padding: 0 10px;
    right: 10px;
    top: 4px;
}

.scroll-bar-h
{
	 opacity: 0;
}

.pro-body
{
	
}
.pro-body img {
    width: 85%;
}
.pro-body h2 {
    font-size: 18px;
    margin: 0 0 8px;
}
.pro-body .ptn-row {
    border-top: 1px solid #f5f5f5;
    margin: 0;
    padding: 6px 0;
}
.pro-body .ptn-row .col {
    color: #717171;
    font-size: 14px;
    padding: 2px 0;
}
.pro-body .ptn-row .col button {
    border-radius: 3px;
    height: 23px;
    line-height: 17px;
    min-height: 18px;
    padding: 1px 7px;
}
.pro-body .ptn-row .col .button-small .icon::before {
    font-size: 10px;
    line-height: 14px;
    margin-left: 5px;
}
.slideable_content {
    background: #f7f7f7 none repeat scroll 0 0;
}
.slideable_content .row {
    padding: 2px 5px;
}
.slideable_content .row:first-child {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 1px;
    padding: 0 5px;
	color:#000;
}
.slideable_content .row .col {
    font-size: 13px;
}

.half-list {
}

.list.shadow {
    box-shadow: 0 0 3px #d3d3d3;
    margin-bottom: 10px;
}
.rowp0 {
    margin: 0 -4px;
    padding: 0;
    width: auto;
}
.rowp0 .col {
    padding-bottom: 0;
    padding-top: 0;
}
.item-custom-select {
    padding-left: 10px;
}
.item-custom-select::after {
    right: 12px;
    top: 53%;
}
.item-custom-select select {
    padding-right: 30px;
	padding-left:10px;
}
.col-45 {
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
    flex: 0 0 45%;
    max-width: 45%;
}

.cart-item img {
    border: 1px solid #f7f7f7;
}
.cart-item h2 {
    font-size: 15px;
    margin-bottom: 5px;
    max-width: 90%;
}
.cart-item p {
    color: #929292;
    font-size: 13px;
    line-height: 1.4;
    margin: 0;
}
.cart-item p span {
    color: #000;
}

.cart-item i {
    cursor: pointer;
    font-size: 21px;
    padding: 0 10px;
    position: absolute;
    right: 2px;
    top: 5px;
}
.cart-item span.price {
    bottom: 9px;
    color: #000;
    float: right;
    font-size: 14px;
    position: absolute;
    right: 12px;
}
.drom-item a {
	color: #7c7c7c;
}
.drom-item a i {
    color: #838383;
    font-size: 21px !important;
}
.contactform {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    width: 100%;
}
.contactform .ng-invalid{
	box-shadow:0 0 0;
	color:red;
}

.bg-wt
{
	background:#fff;
}
.bg-wt p {
    font-family: arial;
    margin: 0 0 3px;
    text-align: right;
}
.bg-wt p.gray {
    color: #888888;
}
.bg-wt p.brown {
    color: #4d4d4d;
}
.bg-wt p.green {
    color: #03c003;
}
.bg-wt p.black {
    color: #5f5f5f;
    font-weight: bold;
}
.custom-top{
    top:86px;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:350px;
}
